In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('data/gemstone.csv')

In [ ]:
df.head()

In [ ]:
df.isnull().sum()

In [7]:
df=df.drop(labels=['id'],axis=1)

In [ ]:
df.head()

In [ ]:
df.duplicated().sum()

In [ ]:
df.drop_duplicates()

In [11]:
numerical_columns = df.columns[df.dtypes!='object']

In [12]:
categorical_columns=df.columns[df.dtypes=='object']

In [ ]:
print("Numerical columns :",numerical_columns)
print("Categorical columns :",categorical_columns)

In [ ]:
df[categorical_columns].describe()

In [ ]:
df['cut'].value_counts()

In [17]:
df['cut'].unique()

array(['Premium', 'Very Good', 'Ideal', 'Good', 'Fair'], dtype=object)

In [ ]:
df['cut'].unique

In [ ]:
df['cut'].nunique

In [21]:
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
plt.figure(figsize=(8,6))
x=0
for i in numerical_columns:
    sns.histplot(data=df,x=i,kde=True)
    print('\n')
    plt.show()

In [ ]:
sns.heatmap(df.corr(),annot=True)

In [ ]:
df.drop(labels=['x','y','z'],axis=1)

In [ ]:
sns.pairplot(df)

In [27]:
df['cut'].unique()

array(['Premium', 'Very Good', 'Ideal', 'Good', 'Fair'], dtype=object)

In [28]:
 cut_map={"Fair":1,"Good":2,"Very Good":3,"Premium":4,"Ideal":5}

In [29]:
df['clarity'].unique()

array(['VS2', 'SI2', 'VS1', 'SI1', 'IF', 'VVS2', 'VVS1', 'I1'],
      dtype=object)

In [30]:
clarity_map = {"I1":1,"SI2":2 ,"SI1":3 ,"VS2":4 , "VS1":5 , "VVS2":6 , "VVS1":7 ,"IF":8}

In [31]:
df['color'].unique()

array(['F', 'J', 'G', 'E', 'D', 'H', 'I'], dtype=object)

In [32]:
color_map = {"D":1 ,"E":2 ,"F":3 , "G":4 ,"H":5 , "I":6, "J":7}

In [33]:
df['cut']=df['cut'].map(cut_map)
df['clarity'] = df['clarity'].map(clarity_map)
df['color'] = df['color'].map(color_map)

In [ ]:
df['cut']=df['cut'].replace(cut_map)
df['cut']

In [36]:
df.head()

   carat  cut  color  clarity  depth  table     x     y     z  price
0   1.52    4      3        4   62.2   58.0  7.27  7.33  4.55  13619
1   2.03    3      7        2   62.0   58.0  8.06  8.12  5.05  13387
2   0.70    5      4        5   61.2   57.0  5.69  5.73  3.50   2772
3   0.32    5      4        5   61.6   56.0  4.38  4.41  2.71    666
4   1.70    4      4        4   62.6   59.0  7.65  7.61  4.77  14453